Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/AFNetworking.xcscheme
Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/MagicalRecord.xcscheme
Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/Pods-test.xcscheme
test.xcscheme
STTwitter.xcscheme
Pods/Pods.xcodeproj/xcuserdata/iMAC.xcuserdatad/xcschemes/AFNetworking.xcscheme
Pods/Pods.xcodeproj/xcuserdata/iMAC.xcuserdatad/xcschemes/MagicalRecord.xcscheme
Pods/Pods.xcodeproj/xcuserdata/iMAC.xcuserdatad/xcschemes/Pods-test.xcscheme
Pods/Pods.xcodeproj/xcuserdata/iMAC.xcuserdatad/xcschemes/SVPullToRefresh.xcscheme
Pods/Pods.xcodeproj/xcuserdata/iMAC.xcuserdatad/xcschemes/xcschememanagement.plist
