Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/AFNetworking.xcscheme
Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/MagicalRecord.xcscheme
Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/Pods-test.xcscheme
test.xcscheme
STTwitter.xcscheme
